<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>管理员后台主页</title>
</head>
<body>

<span style="color:#F00" th:text="${now_admin}  "> </span><a th:href="@{/admin/index}">注销</a><br><br>
<!--<span style="color:#F00" th:text="${info}  ">-->
<span style="color:green" th:text="${info}"></span><br>

<a th:href="@{/admin/timu}">题目录入</a>
<a th:href="@{/admin/mTimu}">我的题目集</a>
<a th:href="@{/anaylze/index}">题目集分析</a>

<!--<h1 th:text="${admin.admin_name}"></h1><br>-->
<!--<h1 th:text="${admin.admin_pd}"></h1><br>-->
<!--<a th:href="@{addTimu}" >添加题目集</a><br>-->
<!--<a th:href="@{addExcelModel}" >添加信息录入模板</a><br>-->

</body>
</html>