<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript">
    /*
    *增加模板行
    */
    function addRow() {
        var table = document.getElementById("addTable");
        var tbody = document.getElementById("templeteTBody");
        var newTBody = tbody.cloneNode(true);
        newTBody.style.display="";
        var footTBody = document.getElementById("footTbody");
        return table.insertBefore(newTBody,footTBody);
    }
    /*
    *删除模板行
    */
    function deleteRow(obj) {
        var tbody = obj.parentNode.parentNode.parentNode;
        var table = document.getElementById("addTable");
        table.removeChild(tbody);
    }
    /**
     *向模板中填充值
     */
    function setValue(){
        var tbody=addRow();
    }
</script>
<BODY>

单选题提交
<input type="button" value="完成编辑" onclick=""><br>
<input type="button" value="增加" onclick="setValue()">
<table id="addTable">
    <tbody id="templeteTBody" style="display: none;">
    <tr>
        <td><input type="button" value="删除" onclick="deleteRow(this)"/></td>
        <td>a</td>
        <td><input type="text" /></td>
        <td>b</td>
        <td><input type="text" /></td>
    </tr>
    </tbody>
    <tbody id="footTbody">
    </tbody>
</table>
</BODY>
</html>