<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8"></meta>
    <title>超级管理员界面</title>
    <link rel="stylesheet" type="text/css" href="../jquery-easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="../jquery-easyui/themes/icon.css" />
    <script type="text/javascript" src="../jquery-easyui/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../jquery-easyui/jquery.easyui.min.js"></script>
    <!-- 中文化 -->
    <script type="text/javascript" src="../jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
    <!-- 导入自己的 js -->
    <script type="text/javascript" src="../my.js"></script>
</head>

<body>


<table id="dg"  title="超级管理员界面" class="easyui-datagrid" fitColumns="true" pagination="true" rownumbers="true" url="/superadmin/list" fit="true" toolbar="#tb">
    <thead>
    <tr>
        <th field="cb" checkbox="true" align="center"></th>
        <th field="a_id" width="100" align="center">编号</th>
        <th field="admin_name" width="200" align="center">用户名</th>
        <th field="admin_pd" width="200" align="center">密码</th>
        <th field="academy" width="200" align="center">院系</th>
        <th field="is_vip" width="200" align="center">是否vip</th>
    </tr>
    </thead>
</table>

<!-- CRUD 菜单栏 -->
<div id="tb">
    <div>
        <!--plain="true"去掉边框-->
        <a href="javascript:openLinkAddDialog()" class="easyui-linkbutton" iconCls="icon-add" plain="true">添加</a>
        <a href="javascript:openLinkModifyDialog()" class="easyui-linkbutton" iconCls="icon-edit" plain="true">修改</a>
        <a href="javascript:deleteLink()" class="easyui-linkbutton" iconCls="icon-remove" plain="true">删除</a>
    </div>
    <!--<div>-->
        <!--&nbsp;用户名：&nbsp;<input type="text" id="s_name" size="20" onkeydown="if(event.keyCode==13) searchWebSite()" /> &nbsp;密码：&nbsp;-->
        <!--<input type="text" id="s_word" size="20" onkeydown="if(event.keyCode==13) searchWebSite()" />-->
        <!--<a href="javascript:searchWebSite()" class="easyui-linkbutton" iconCls="icon-search" plain="true">搜索</a>-->
    <!--</div>-->
</div>

<!-- 修改框内容 -->
<div id="dlg" class="easyui-dialog" style="width: 500px;height: 300px;padding: 10px 20px" closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post">
        <table cellspacing="8px">
            <tr>
                <td>超级用户名：</td>
                <td>
                    <input type="text" id="admin_name" name="admin_name" class="easyui-validatebox" required="true" />
                </td>
            </tr>
            <tr>
                <td>密码：</td>
                <td>
                    <input type="text" id="admin_pd" name="admin_pd" class="easyui-validatebox" required="true" />
                </td>
            </tr>
            <tr>
                <td>所属院系：</td>
                <td>
                    <input type="text" id="academy" name="academy" class="easyui-validatebox" required="true" />
                </td>
            </tr>
            <tr>
                <td>是否vip：</td>
                <td>
                    <input type="text" id="is_vip" name="is_vip" class="easyui-validatebox" required="true" />
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- 修改对话框的 save、close 按钮 -->
<div id="dlg-buttons">
    <a href="javascript:saveLink()" class="easyui-linkbutton" iconCls="icon-ok">保存</a>
    <a href="javascript:closeLinkDialog()" class="easyui-linkbutton" iconCls="icon-cancel">关闭</a>
</div>

</body>

</html>
