<!--<!DOCTYPE html>-->
<!--<html xmlns:th="www.thymeleaf.org">-->

<!--<head>-->
    <!--<meta charset="UTF-8"></meta>-->


<!--</head>-->

<!--<body>-->

<!--<table border="1">-->
    <!--<tr>-->
        <!--<th>题目编号</th>-->
        <!--<th>题目内容</th>-->
        <!--<th>A</th>-->
        <!--<th>B</th>-->
        <!--<th>C</th>-->
        <!--<th>D</th>-->
        <!--<th>正确答案</th>-->
        <!--<th>答案分布</th>-->
    <!--</tr>-->
    <!--<tr  th:each="timu : ${alltimuitem}">-->
        <!--<td th:text="${timu.ti_id}">题目编号</td>-->
        <!--<td th:text="${timu.ti_name}">题目内容</td>-->
        <!--<td th:text="${timu.ti_a}"></td>-->
        <!--<td th:text="${timu.ti_b}"></td>-->
        <!--<td th:text="${timu.ti_c}"></td>-->
        <!--<td th:text="${timu.ti_d}"></td>-->
        <!--<td th:text="${timu.ti_right}"></td>-->
        <!--<td> </td>-->

    <!--</tr>-->

<!--</table>-->

<!--<div id="chartcontainer2">这只是一个替换内容</div>-->
<!--<script type="text/javascript" src="/js/jscharts_mb.js" >-->

    <!--//饼状图-->
    <!--var myData2 = new Array(['A',20], ['B',10], ['C',30], ['D',10],['Unit 5',5],['Unit 6',15],['Unit 7',5]);-->
    <!--var myChart2 = new JSChart('chartcontainer2', 'pie');-->
    <!--myChart2.setDataArray(myData2);-->
    <!--myChart2.draw();-->
<!--</script>-->
<!--</BODY>-->
<!--</html>-->



<!doctype html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JScharts Test</title>
</head>
<link rel="stylesheet" type="text/css" href="../jquery-easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="../jquery-easyui/themes/icon.css" />
<script type="text/javascript" src="../jquery-easyui/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="../jquery-easyui/jquery.easyui.min.js"></script>
<!-- 中文化 -->
<script type="text/javascript" src="../jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="/js/jscharts_mb.js"></script>
<body>

<table border="1" style="width:70%;hight:100%;  float:left;">
<tr>
<th>题目编号</th>
<th>题目内容</th>
<th>A</th>
<th>B</th>
<th>C</th>
<th>D</th>
<th>正确答案</th>
</tr>
<tr  th:each="timu : ${alltimuitem}" style="height: 306px;">
<td th:text="${timu.ti_id}">题目编号</td>
<td th:text="${timu.ti_name}">题目内容</td>
<td th:text="${timu.ti_a}"></td>
<td th:text="${timu.ti_b}"></td>
<td th:text="${timu.ti_c}"></td>
<td th:text="${timu.ti_d}"></td>
<td th:text="${timu.ti_right}">
</td>

</tr>

</table>


<table border="1" style="width:30%;hight:100%;float:left;";>
    <tr>
        <th>饼状答案分布</th>

    </tr>

    <tr  style="height: 250px;">
        <td >
            <div id="chartcontainer-0"></div>
        </td>


    </tr>

</table>





<!--<div id="chartcontainer">这只是一个替换内容</div><br/>-->
<!--<div id="chartcontainer1">这只是一个替换内容</div><br/>-->
<!--<div id="chartcontainer7">这只是一个替换内容</div><br/>-->

<script th:inline="javascript">

        var message = [[${alltimuitem}]];
        //console.log("data"+message[0].ti_a);
        //console.log("no data"+message.ti_a);
        var sourceNode = document.getElementById("chartcontainer-0"); // 获得被克隆的节点对象
        for (var i = 0; i < message.length; i++) {
            var clonedNode = sourceNode.cloneNode(true); // 克隆节点
            clonedNode.setAttribute("id", "chartcontainer-" + i); // 修改一下id 值，避免id 重复
            sourceNode.parentNode.appendChild(clonedNode); // 在父节点插入克隆的节点
            //饼状图
            var myData2 = new Array(['A',message[i].a_count], ['B',message[i].b_count], ['C',message[i].c_count], ['D',message[i].d_count]);
            var myChart2 = new JSChart('chartcontainer-'+i, 'pie');
            myChart2.setDataArray(myData2);
            myChart2.draw();

        }



    //饼状图（xml导入数据）
    //var myChart3 = new JSChart('chartcontainer3', 'pie');
   // myChart3.setDataXML('/js/jschart_data.xml');
   // myChart3.draw();

    //饼状图（json导入数据）
    //var myChart4 = new JSChart('chartcontainer4', 'pie');
    //myChart4.setDataJSON('/js/jschart_data.json');
    //myChart4.draw();

</script>


</body>
</html>